@charset "UTF-8";
@font-face {
	font-family: "Pragmatica";
	src: url("../fonts/ofont.ru_Pragmatica.eot");
	src: local("☺"), url("../fonts/ofont.ru_Pragmatica.woff") format("woff"), url("../fonts/ofont.ru_Pragmatica.ttf") format("truetype"), url("../fonts/ofont.ru_Pragmatica.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "pragmaticalightc";
	src: url("../fonts/pragmaticalightc.eot");
	src: local("☺"), url("../fonts/pragmaticalightc.woff") format("woff"), url("../fonts/pragmaticalightc.ttf") format("truetype"), url("../fonts/pragmaticalightc.svg") format("svg");
	font-weight: 300;
	font-style: normal;
}
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	font-family: "Pragmatica";
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: "Pragmatica";
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	color: #000;
	font-size: 14px;
	font-weight: 400;
}
body.lock {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}
.container {
	max-width: 1120px;
	margin: 0 auto;
	width: 100%;
}
@media (max-width: 1132px) {
	.container {
		max-width: 970px;
	}
}
@media (max-width: 991.98px) {
	.container {
		max-width: 750px;
	}
}
@media (max-width: 767.98px) {
	.container {
		max-width: none;
		padding: 0 10px;
	}
}

.form-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0px -15px;
}

.form__column {
	padding: 0px 15px;
}

.btn {
	display: inline-block;
	height: 50px;
	padding: 0px 18.5px;
	position: relative;
	background: #508FF7;
	border-radius: 4px;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #FFFFFF;
}
.btn.fw {
	width: 100%;
}

input[type=text], input[type=email], input[type=tel], textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.input {
	height: 54px;
	background: rgba(243, 245, 247, 0.5);
	border-radius: 5px;
	width: 100%;
	display: block;
	padding: 0px 20px;
	font-size: 14px;
	line-height: 14px;
	color: #9E9E9E;
}
textarea.input {
	resize: none;
	padding: 0px 0px;
}

.rub:after {
	content: "₽";
}

.table {
	display: table;
	font-size: 0;
	width: 100%;
}

.trow {
	display: table-row;
}

.cell {
	display: table-cell;
}
.cell.full {
	width: 100%;
}

.tab__item {
	display: none;
}
.tab__item.active {
	display: block;
}

/*!
 * baguetteBox.js
 * @author  feimosi
 * @version %%INJECT_VERSION%%
 * @url https://github.com/feimosi/baguetteBox.js
 */
#baguetteBox-overlay {
	display: none;
	opacity: 0;
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000000;
	background-color: #222;
	background-color: rgba(0, 0, 0, 0.8);
	-webkit-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}
#baguetteBox-overlay.visible {
	opacity: 1;
}
#baguetteBox-overlay .full-image {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
}
#baguetteBox-overlay .full-image figure {
	display: inline;
	margin: 0;
	height: 100%;
}
#baguetteBox-overlay .full-image img {
	display: inline-block;
	width: auto;
	height: auto;
	max-height: 100%;
	max-width: 100%;
	vertical-align: middle;
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	        box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
#baguetteBox-overlay .full-image figcaption {
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	line-height: 1.8;
	white-space: normal;
	color: #ccc;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.6);
	font-family: sans-serif;
}
#baguetteBox-overlay .full-image:before {
	content: "";
	display: inline-block;
	height: 50%;
	width: 1px;
	margin-right: -1px;
}

#baguetteBox-slider {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	white-space: nowrap;
	-webkit-transition: left 0.4s ease, -webkit-transform 0.4s ease;
	transition: left 0.4s ease, -webkit-transform 0.4s ease;
	-o-transition: left 0.4s ease, transform 0.4s ease;
	transition: left 0.4s ease, transform 0.4s ease;
	transition: left 0.4s ease, transform 0.4s ease, -webkit-transform 0.4s ease;
}
#baguetteBox-slider.bounce-from-right {
	-webkit-animation: bounceFromRight 0.4s ease-out;
	        animation: bounceFromRight 0.4s ease-out;
}
#baguetteBox-slider.bounce-from-left {
	-webkit-animation: bounceFromLeft 0.4s ease-out;
	        animation: bounceFromLeft 0.4s ease-out;
}

@-webkit-keyframes bounceFromRight {
	0% {
		margin-left: 0;
	}
	50% {
		margin-left: -30px;
	}
	100% {
		margin-left: 0;
	}
}

@keyframes bounceFromRight {
	0% {
		margin-left: 0;
	}
	50% {
		margin-left: -30px;
	}
	100% {
		margin-left: 0;
	}
}
@-webkit-keyframes bounceFromLeft {
	0% {
		margin-left: 0;
	}
	50% {
		margin-left: 30px;
	}
	100% {
		margin-left: 0;
	}
}
@keyframes bounceFromLeft {
	0% {
		margin-left: 0;
	}
	50% {
		margin-left: 30px;
	}
	100% {
		margin-left: 0;
	}
}
.baguetteBox-button#previous-button, .baguetteBox-button#next-button {
	top: 50%;
	top: calc(50% - 30px);
	width: 44px;
	height: 60px;
}

.baguetteBox-button {
	position: absolute;
	cursor: pointer;
	outline: none;
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 15%;
	background-color: #323232;
	background-color: rgba(50, 50, 50, 0.5);
	color: #ddd;
	font: 1.6em sans-serif;
	-webkit-transition: background-color 0.4s ease;
	-o-transition: background-color 0.4s ease;
	transition: background-color 0.4s ease;
}
.baguetteBox-button:focus, .baguetteBox-button:hover {
	background-color: rgba(50, 50, 50, 0.9);
}
.baguetteBox-button#next-button {
	right: 2%;
}
.baguetteBox-button#previous-button {
	left: 2%;
}
.baguetteBox-button#close-button {
	top: 20px;
	right: 2%;
	right: calc(2% + 6px);
	width: 30px;
	height: 30px;
}
.baguetteBox-button svg {
	position: absolute;
	left: 0;
	top: 0;
}

/*
    Preloader
    Borrowed from http://tobiasahlin.com/spinkit/
*/
.baguetteBox-spinner {
	width: 40px;
	height: 40px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -20px;
}

.baguetteBox-double-bounce1,
.baguetteBox-double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: bounce 2s infinite ease-in-out;
	        animation: bounce 2s infinite ease-in-out;
}

.baguetteBox-double-bounce2 {
	-webkit-animation-delay: -1s;
	        animation-delay: -1s;
}

@-webkit-keyframes bounce {
	0%, 100% {
		-webkit-transform: scale(0);
		        transform: scale(0);
	}
	50% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}

@keyframes bounce {
	0%, 100% {
		-webkit-transform: scale(0);
		        transform: scale(0);
	}
	50% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}
.popup {
	-webkit-overflow-scrolling: touch;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
	position: fixed !important;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 100;
}
.popup.active .popup-content {
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
.popup.show {
	display: block;
}
.popup.show .popup-content {
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}

.popup-table {
	height: 100%;
	table-layout: fixed;
}
.popup-table > .cell {
	height: 100%;
	vertical-align: middle;
	padding: 30px 10px;
}

.popup__title {
	font-size: 24px;
	line-height: 31px;
	color: #3F3F3F;
	margin-bottom: 40px;
	font-weight: 700;
}
@media (max-width: 590px) {
	.popup__title {
		font-size: 14px;
		line-height: 22px;
	}
}

.form-input label {
	font-size: 15px;
	line-height: 15px;
	color: #3F3F3F;
	margin-bottom: 12px;
	display: block;
}
.form-input input {
	margin-bottom: 20px;
}

.form-button {
	margin-bottom: 20px;
}

.form__btn {
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: #FFFFFF;
	border-radius: 10px;
}
@media (min-width: 1132px) {
	.form__btn:hover {
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		background: rgba(255, 72, 63, 0.7);
	}
}
@media (max-width: 590px) {
	.form__btn {
		font-size: 12px;
	}
}

.popup-content {
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	position: relative;
	max-width: 540px;
	margin: 0px auto;
	background-color: #fff;
	padding: 60px 70px;
	border-radius: 30px;
	min-height: 540px;
}
@media (max-width: 530px) {
	.popup-content {
		border-radius: 0px;
		padding: 60px 40px;
	}
}

.popup-close {
	width: 15px;
	height: 15px;
	position: absolute;
	top: 25px;
	right: 30px;
	cursor: pointer;
	background: url("../img/close.png") 0 0 no-repeat;
}

.popup-video .popup-close {
	width: 40px;
	height: 40px;
	background-color: #000;
	top: 0;
	right: 0;
}

.header {
	position: relative;
	width: 100%;
	z-index: 50;
	left: 0;
	top: 0px;
	background-color: transparent;
}

.note {
	background-color: #FFEDC9;
	z-index: 99;
	position: relative;
}

.note__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
@media (max-width: 991.98px) {
	.note__row {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}

.note__column {
	margin: 14px 0;
	font-size: 16px;
	line-height: 22px;
	color: #433C30;
}
.note__column a {
	text-decoration: underline;
	color: inherit;
}
@media (min-width: 1132px) {
	.note__column a:hover {
		text-decoration: none;
	}
}
@media (max-width: 1132px) {
	.note__column {
		font-size: 14px;
	}
}
@media (max-width: 991.98px) {
	.note__column {
		margin: 0;
	}
}

@media (max-width: 991.98px) {
	.note__left {
		display: none;
	}
}

@media (max-width: 991.98px) {
	.note__center {
		margin: 15px 10px 5px 10px;
		text-align: center;
	}
}

.header__row {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 50px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.row-top {
	height: 60px;
	padding-top: 35px;
	margin-bottom: 35px;
}
@media (max-width: 991.98px) {
	.row-top {
		height: 100px;
		background: #Fff;
		z-index: 51;
		padding-top: 0px;
		margin-bottom: 0;
	}
}

@media (max-width: 991.98px) {
	.menu__body {
		position: fixed;
		right: -100%;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		-webkit-transition: all 0.4s ease 0s;
		-o-transition: all 0.4s ease 0s;
		transition: all 0.4s ease 0s;
		background-color: #fff;
	}
}
.menu__body.active {
	right: 0;
}

.menu__icon {
	top: 0;
}

.menu__body {
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}
@media (max-width: 991.98px) {
	.menu__body {
		display: block;
		padding-top: 170px;
	}
}
@media (max-width: 380px) {
	.menu__body {
		padding-top: 190px;
	}
}

.row-top__logo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-right: 60px;
	z-index: 99;
}

.row-top__description {
	padding-left: 16px;
	font-size: 18px;
	line-height: 18px;
	color: #293851;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.row-top__description span {
	display: block;
	padding-top: 6px;
	font-size: 14px;
	line-height: 14px;
	color: #4E4E4E;
}

.row-top__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.row-top__list span {
	width: 40px;
	margin: 0 3px;
}
@media (max-width: 991.98px) {
	.row-top__list {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		padding: 15px 0;
	}
}

.row-top__place {
	background: url("../img/header/place.png") left no-repeat;
	padding-left: 65px;
	height: 46px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.top-place__title {
	font-size: 10px;
	line-height: 10px;
	text-transform: uppercase;
	color: #BDBDBD;
	margin-bottom: 8px;
}

.top-place__text {
	font-size: 16px;
	line-height: 16px;
	color: #3F3F3F;
}
@media (max-width: 350px) {
	.top-place__text {
		font-size: 12px;
	}
}

.row-top__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: #969696;
}
@media (max-width: 991.98px) {
	.row-top__content {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}
@media (max-width: 767.98px) {
	.row-top__content {
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
	}
}

.menu__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
@media (max-width: 991.98px) {
	.menu__list {
		display: block;
		text-align: left;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
}

.menu__list li {
	margin: 0 30px 0 0;
}
@media (min-width: 1132px) {
	.menu__list li:hover {
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		color: #969696;
	}
}
.menu__list li:last-child {
	margin: 0;
}
.menu__list li:nth-child(even) {
	background: #FBFBFB;
}
@media (max-width: 1132px) {
	.menu__list li {
		margin: 0 22px 0 0;
		padding: 20px 0 20px 30px;
	}
}
@media (max-width: 991.98px) {
	.menu__list li {
		margin: 0px 0px 15px 0px;
	}
}

.row-top__contacts {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.row-top__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
}

.top-contacts__subtel {
	font-size: 10px;
	line-height: 10px;
	text-transform: uppercase;
	color: #BDBDBD;
	margin-bottom: 6px;
}

.top-contacts__tel {
	font-size: 16px;
	line-height: 16px;
}
.top-contacts__tel a {
	color: #3F3F3F;
	font-weight: 700;
}
@media (min-width: 1132px) {
	.top-contacts__tel a:hover {
		text-decoration: underline;
	}
}
@media (max-width: 350px) {
	.top-contacts__tel {
		font-size: 13px;
	}
}

@media (max-width: 991.98px) {
	.row-top__wrapper .row-top__place {
		display: none;
	}
}

@media (max-width: 991.98px) {
	.row-top__contacts .top-contacts__info {
		display: none;
	}
}

.row-top__test {
	display: none;
}
@media (max-width: 991.98px) {
	.row-top__test {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		text-align: left;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		margin-bottom: 20px;
	}
}

.top-contacts__info {
	padding-left: 20px;
}

.top-contacts__button {
	margin-left: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.top-contacts__button button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
@media (max-width: 400px) {
	.top-contacts__button button {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}
@media (max-width: 991.98px) {
	.top-contacts__button {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}
@media (max-width: 400px) {
	.top-contacts__button {
		margin: 0 20px;
	}
}

@media (min-width: 1132px) {
	.top-contacts__btn:hover {
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		background: rgba(255, 72, 63, 0.7);
	}
}
@media (max-width: 400px) {
	.top-contacts__btn {
		width: 100%;
	}
}

.menu__link {
	font-size: 14px;
	line-height: 14px;
	color: #4E4E4E;
}
@media (min-width: 1132px) {
	.menu__link:hover {
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		color: #508FF7;
	}
}
@media (max-width: 991.98px) {
	.menu__link {
		font-size: 18px;
		line-height: 18px;
	}
}

.button__img {
	padding-right: 10px;
	padding-bottom: 2px;
}

.header-bottom {
	background: #F9FAFB;
}
@media (max-width: 991.98px) {
	.header-bottom {
		background: #Fff;
	}
}

@media (max-width: 991.98px) {
	.icon-menu {
		display: block;
		position: absolute;
		top: 40%;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
	}
	.icon-menu span {
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		top: 8px;
		left: 0px;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #000;
	}
	.icon-menu span:first-child {
		top: 0px;
	}
	.icon-menu span:last-child {
		top: auto;
		bottom: 0px;
	}
	.icon-menu.active span {
		-ms-transform: scale(0);
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	.icon-menu.active span:first-child {
		-ms-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		top: 8px;
	}
	.icon-menu.active span:last-child {
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		bottom: 8px;
	}
}
.footer {
	padding-top: 110px;
}
@media (max-width: 991.98px) {
	.footer {
		padding-top: 60px;
	}
}

.footer__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
@media (max-width: 991.98px) {
	.footer__row {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
}

.footer__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 22px;
}
@media (max-width: 991.98px) {
	.footer__list {
		width: 100%;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
}
.footer__list li {
	font-size: 16px;
	line-height: 16px;
	text-transform: uppercase;
	margin-right: 65px;
}
@media (max-width: 1132px) {
	.footer__list li {
		margin-right: 45px;
	}
}
@media (max-width: 991.98px) {
	.footer__list li {
		margin-bottom: 15px;
	}
}
.footer__list li a {
	color: #4E4E4E;
}
@media (min-width: 1132px) {
	.footer__list li a:hover {
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		color: #508FF7;
	}
}

.footer__wrapper {
	background: #F8F8F8;
}

.footer__one {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
@media (max-width: 991.98px) {
	.footer__one {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}

.footer__two {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
@media (max-width: 991.98px) {
	.footer__two {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}

.footer__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.footer__column {
	padding: 15px 0;
	font-size: 14px;
	line-height: 17px;
	color: #4E4E4E;
}
@media (max-width: 991.98px) {
	.footer__column {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 100%;
		        flex: 1 1 100%;
		padding: 5px 0;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		text-align: center;
	}
}

.main-content {
	background: url("../img/main/back.png") center no-repeat;
	background-size: cover;
}

.main-content__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 -120px;
	padding-top: 94px;
}
@media (max-width: 1300px) {
	.main-content__row {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		margin: 0 0px;
	}
}
@media (max-width: 991.98px) {
	.main-content__row {
		padding-top: 0px;
	}
}

.main-content__column {
	padding: 0px 40px 0px 40px;
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 50%;
	        flex: 0 1 50%;
}
@media (max-width: 1300px) {
	.main-content__column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
		text-align: center;
	}
}
@media (max-width: 500px) {
	.main-content__column {
		padding: 0;
	}
}

.main-content__suptitle {
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
	color: #A2A9B5;
	margin-bottom: 14px;
}
@media (max-width: 370px) {
	.main-content__suptitle {
		font-size: 12px;
		line-height: 12px;
	}
}

.main-content__title {
	font-size: 38px;
	line-height: 46px;
	color: #1F1F1F;
	margin-bottom: 18px;
	font-weight: 700;
}
@media (max-width: 370px) {
	.main-content__title {
		font-size: 18px;
		line-height: 22px;
	}
}

.main-content__text {
	font-size: 18px;
	line-height: 27px;
	letter-spacing: -0.02em;
	color: #A2A9B5;
	margin-bottom: 40px;
}
@media (max-width: 370px) {
	.main-content__text {
		font-size: 14px;
		line-height: 21px;
	}
}

.main-content__button {
	margin-bottom: 65px;
}

.main-content__btn {
	height: 90px;
	padding: 0px 25px;
	text-align: left;
	font-size: 13px;
	line-height: 18px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	max-width: 290px;
	border-radius: 10px;
	text-transform: uppercase;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	position: relative;
}
@media (max-width: 1300px) {
	.main-content__btn {
		margin: 0 auto;
	}
}
.main-content__btn:after {
	content: "";
	background: url("../img/main/border.png") no-repeat;
	position: absolute;
	top: 5px;
	left: 5px;
	width: 280px;
	height: 80px;
}

@media (min-width: 1132px) {
	.main-content__btn_blue:hover {
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		background: rgba(255, 72, 63, 0.7);
	}
}

.main-content__description {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 13px;
	line-height: 21px;
	max-width: 280px;
	color: #969FAD;
	position: relative;
	margin: 0 0 0 auto;
}
.main-content__description:before {
	content: "";
	background: url("../img/main/arrow.png") no-repeat;
	width: 50px;
	height: 50px;
	position: absolute;
	top: -40px;
	left: -50px;
}
@media (max-width: 1300px) {
	.main-content__description {
		display: none;
	}
}

.main-content__wrapper {
	position: relative;
}
.main-content__wrapper:before {
	content: "";
	background: url("../img/main/decor.png") no-repeat left;
	position: absolute;
	width: 180px;
	height: 360px;
	left: 0;
	bottom: 0;
}
@media (max-width: 500px) {
	.main-content__wrapper:before {
		display: none;
	}
}

.main-content__car {
	position: relative;
}

@media (max-width: 740px) {
	.car-img {
		max-width: 400px;
	}
}
@media (max-width: 500px) {
	.car-img {
		max-width: 310px;
		height: 360px;
	}
}

@media (max-width: 740px) {
	.main-content__btn_car .button__img img {
		width: 24px;
		height: 24px;
	}
}
@media (max-width: 500px) {
	.main-content__btn_car {
		height: 75px;
	}
}

.main-content__btn_car {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 72, 63, 0.7))), url("../img/main/buttonImage.png");
	background: -o-linear-gradient(rgba(255, 72, 63, 0.7)), url("../img/main/buttonImage.png");
	background: linear-gradient(rgba(255, 72, 63, 0.7)), url("../img/main/buttonImage.png");
}
@media (min-width: 1132px) {
	.main-content__btn_car:hover {
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		text-decoration: underline;
	}
}
@media (max-width: 740px) {
	.main-content__btn_car {
		width: 250px;
		font-size: 13px;
		line-height: 17px;
	}
	.main-content__btn_car:after {
		display: none;
	}
}

.main-content__button_video {
	position: absolute;
	bottom: 15%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
}
@media (max-width: 740px) {
	.main-content__button_video {
		bottom: 10%;
	}
}

.advantages {
	margin-top: -60px;
}
@media (max-width: 740px) {
	.advantages {
		margin-top: -20px;
	}
}

.advantages__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 -15px;
}
@media (max-width: 991.98px) {
	.advantages__row {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
}

.advantages__column {
	padding: 0 15px;
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 33.333%;
	        flex: 0 1 33.333%;
}
@media (max-width: 991.98px) {
	.advantages__column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
		padding-bottom: 20px;
	}
}

.advantages__item {
	background: #fff;
	padding: 15px 20px 20px 20px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 5px 3px #F5F5F5;
	        box-shadow: 0px 0px 5px 3px #F5F5F5;
	position: relative;
	min-height: 224px;
}
@media (max-width: 991.98px) {
	.advantages__item {
		max-width: 355px;
		margin: 0 auto;
	}
}
.advantages__item:after {
	content: "";
	background: url("../img/adventages/border.png") no-repeat;
	position: absolute;
	top: 7px;
	left: 11px;
	width: 340px;
	height: 210px;
}
@media (max-width: 420px) {
	.advantages__item:after {
		display: none;
	}
}

.advantages__image {
	margin-bottom: 14px;
}

.advantages__title {
	font-size: 13px;
	margin-bottom: 8px;
	line-height: 18px;
	text-transform: uppercase;
	color: #1F1F1F;
}

.advantages__text {
	font-size: 14px;
	line-height: 20px;
	color: #A2A9B5;
}

.cost__title {
	font-size: 32px;
	line-height: 32px;
	text-align: center;
	color: #1F1F1F;
	margin-bottom: 60px;
	padding-top: 80px;
}
@media (max-width: 520px) {
	.cost__title {
		font-size: 24px;
		line-height: 26px;
		margin-bottom: 30px;
		padding-top: 60px;
	}
}

.cost__tabs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.tabs__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 70px;
}
@media (max-width: 1132px) {
	.tabs__list {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		margin-bottom: 50px;
	}
}
@media (max-width: 991.98px) {
	.tabs__list {
		margin-bottom: 0;
	}
}

.cost__navitem {
	padding: 20px;
	background: #fff;
	border: 2px solid #EEEEEE;
	border-radius: 12px;
	cursor: pointer;
	min-width: 270px;
	font-size: 16px;
	line-height: 16px;
	color: #1F1F1F;
	margin-right: 10px;
}
@media (max-width: 1132px) {
	.cost__navitem {
		width: 47%;
		min-width: inherit;
		margin-bottom: 5px;
	}
}
@media (max-width: 520px) {
	.cost__navitem {
		font-size: 13px;
		width: 44%;
		line-height: 11px;
		padding: 15px;
	}
}
.cost__navitem span {
	display: block;
	font-size: 10px;
	line-height: 10px;
	text-transform: uppercase;
	color: #A2A9B5;
	margin-bottom: 8px;
}

.tab__navitem.active {
	border: 2px solid #508FF7;
}

.cost___row {
	display: none;
	margin: 0 -20px;
}
@media (max-width: 991.98px) {
	.cost___row {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
}

.cost__column {
	padding: 0 20px;
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 50%;
	        flex: 0 1 50%;
}
@media (max-width: 991.98px) {
	.cost__column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
	}
}

.cost__image {
	position: relative;
}
.cost__image img {
	width: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	border-radius: 12px;
	height: auto;
	min-height: 550px;
}
@media (max-width: 991.98px) {
	.cost__image img {
		height: 385px;
		min-height: inherit;
		margin: 30px 0 20px 0;
	}
}
.cost__image:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: -o-linear-gradient(135deg, rgba(210, 210, 210, 0), rgba(255, 255, 255, 0.5));
	background: linear-gradient(315deg, rgba(210, 210, 210, 0), rgba(255, 255, 255, 0.5));
}

.cost__suptitile {
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
	color: #A2A9B5;
	margin-bottom: 12px;
}

.cost__mintitle {
	font-size: 22px;
	line-height: 22px;
	color: #1F1F1F;
	margin-bottom: 20px;
	font-weight: 700;
}

.cost__info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 -3px;
}
@media (max-width: 991.98px) {
	.cost__info {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
}

.info-cost__left-wrapper {
	background: #EFF3F8;
	padding: 20px;
	border-radius: 12px;
}
@media (max-width: 991.98px) {
	.info-cost__left-wrapper {
		max-width: 140px;
	}
}

.info-cost__right-wrapper {
	background: #fff;
	padding: 20px;
	border-radius: 12px;
	border: 1px solid #EEEEEE;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
}
.info-cost__right-wrapper:after {
	content: "";
	position: absolute;
	right: 4px;
	bottom: 0;
	background: url("../img/cost/icon.png") no-repeat right;
	width: 40px;
	height: 40px;
}

.info-cost__right {
	padding: 0 3px;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 70%;
	        flex: 0 0 70%;
}
@media (max-width: 520px) {
	.info-cost__right {
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 80%;
		        flex: 1 1 80%;
	}
}

.info-cost__left {
	padding: 0 3px;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 30%;
	        flex: 0 0 30%;
}
@media (max-width: 991.98px) {
	.info-cost__left {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
		margin-bottom: 5px;
	}
}

.info-cost__suptitle {
	font-size: 10px;
	line-height: 10px;
	text-transform: uppercase;
	color: #A2A9B5;
	margin-bottom: 8px;
}

.info-cost__title {
	font-size: 22px;
	line-height: 22px;
	font-weight: 700;
	color: #464E57;
}

.rub:after {
	margin-left: 8px;
}

.info-cost__text {
	font-size: 14px;
	line-height: 20px;
	color: #1F1F1F;
	margin-left: 21px;
}

.info-cost__title_b {
	color: #1F1F1F;
}

.description-cost {
	padding-top: 6px;
	margin-bottom: 30px;
}
@media (max-width: 991.98px) {
	.description-cost {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
}

.description-cost__item {
	background: #F9FBFE;
	padding: 15px;
	border-radius: 12px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
@media (max-width: 991.98px) {
	.description-cost__item {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 70%;
		        flex: 0 1 70%;
	}
}
@media (max-width: 520px) {
	.description-cost__item {
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 80%;
		        flex: 1 1 80%;
	}
}

.description-cost__text {
	font-size: 14px;
	line-height: 20px;
	color: #1F1F1F;
}
@media (max-width: 991.98px) {
	.description-cost__text {
		font-size: 12px;
		line-height: 16px;
	}
}
.description-cost__text span {
	font-weight: 700;
}

.description-cost__button a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 14px;
	line-height: 20px;
	color: #87929F;
	background: #EFF3F8;
	border-radius: 8px;
}
@media (min-width: 1132px) {
	.description-cost__button a:hover {
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		text-decoration: underline;
	}
}

.about-cost__title {
	font-size: 18px;
	line-height: 25px;
	color: #1F1F1F;
	margin-bottom: 16px;
	font-weight: 700;
}

.about-cost__list li {
	font-size: 14px;
	line-height: 20px;
	color: #1F1F1F;
	background: url("../img/cost/right.png") left no-repeat;
	padding-left: 20px;
	margin-bottom: 10px;
}
.about-cost__list li:last-child {
	margin-bottom: 30px;
}

.about-cost__contact {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.about-cost__button {
	width: 260px;
}
.about-cost__button a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background: #508FF7;
	border-radius: 10px;
	font-size: 13px;
	line-height: 13px;
	text-transform: uppercase;
	height: 60px;
	color: #FFFFFF;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	max-width: 260px;
}
@media (min-width: 1132px) {
	.about-cost__button a:hover {
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		background: rgba(255, 72, 63, 0.7);
	}
}
@media (max-width: 470px) {
	.about-cost__button a {
		font-size: 11px;
	}
}
@media (max-width: 350px) {
	.about-cost__button a {
		padding: 0 5.5px;
	}
}
@media (max-width: 470px) {
	.about-cost__button {
		width: 200px;
	}
}
@media (max-width: 350px) {
	.about-cost__button {
		width: 190px;
	}
}

.about-cost__tel {
	margin-left: 26px;
}
@media (max-width: 470px) {
	.about-cost__tel {
		margin-left: 5px;
	}
}

.about-cost__suptitle {
	font-size: 10px;
	line-height: 10px;
	text-transform: uppercase;
	color: #A2A9B5;
	margin-bottom: 8px;
}
@media (max-width: 470px) {
	.about-cost__suptitle {
		font-size: 8px;
	}
}

.about-cost__telephone {
	font-size: 18px;
	line-height: 18px;
}
.about-cost__telephone a {
	color: #1F1F1F;
	font-weight: 700;
}
@media (min-width: 1132px) {
	.about-cost__telephone a:hover {
		text-decoration: underline;
	}
}
@media (max-width: 470px) {
	.about-cost__telephone {
		font-size: 12px;
		line-height: 14px;
	}
}

.tab__item.active {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.about-us {
	padding-top: 80px;
}

.about-us__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.about-us__item {
	padding: 80px;
	width: 100%;
	border-radius: 45px;
	color: #FFFFFF;
	background: -o-linear-gradient(353.53deg, #4c89ed -0.93%, rgba(80, 143, 247, 0.6) 100.93%), url("../img/about/back2.png");
	background: linear-gradient(96.47deg, #4c89ed -0.93%, rgba(80, 143, 247, 0.6) 100.93%), url("../img/about/back2.png");
	background-size: cover;
	position: relative;
}
.about-us__item:after {
	content: "";
	position: absolute;
	top: 12px;
	right: -14px;
	width: 100%;
	height: 100%;
	background: url("../img/about/border.png") no-repeat;
}
@media (max-width: 1132px) {
	.about-us__item:after {
		display: none;
	}
}
@media (max-width: 767.98px) {
	.about-us__item {
		min-height: 430px;
		padding: 40px;
	}
}

.about-us__button {
	z-index: 10;
	position: relative;
}

.about-us__title {
	font-size: 28px;
	line-height: 39px;
	margin-bottom: 20px;
	max-width: 340px;
}

.about-us__text {
	font-size: 18px;
	line-height: 25px;
}

.about-us__title_big {
	max-width: 650px;
}
@media (max-width: 1132px) {
	.about-us__title_big {
		max-width: 600px;
	}
}
@media (max-width: 640px) {
	.about-us__title_big {
		font-size: 18px;
		line-height: 29px;
		max-width: 390px;
	}
}

.about-us__btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-radius: 10px;
	background: #FFFFFF;
	height: 50px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-size: 13px;
	line-height: 13px;
	text-transform: uppercase;
	color: #4F8CF2;
	max-width: 200px;
}
@media (min-width: 1132px) {
	.about-us__btn:hover {
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		text-decoration: underline;
	}
}

.about-us__item_man {
	background: #508FF7;
	position: relative;
}
.about-us__item_man:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 4;
	background: url("../img/about/voen.png") right bottom no-repeat;
}
@media (max-width: 640px) {
	.about-us__item_man:before {
		background-size: 70%;
	}
}
.about-us__item_man:after {
	top: 25px;
}
@media (max-width: 991.98px) {
	.about-us__item_man {
		min-height: 430px;
		padding: 40px;
	}
}

.about-us--man {
	margin-bottom: 100px;
}
@media (max-width: 520px) {
	.about-us--man {
		margin-bottom: 60px;
	}
}

.about-us__text_small {
	max-width: 645px;
}
@media (max-width: 991.98px) {
	.about-us__text_small {
		max-width: 465px;
	}
}

.about-us__item_danger {
	background: #EE6D70;
	position: relative;
}
.about-us__item_danger:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	right: 34px;
	bottom: 1.5px;
	z-index: 4;
	background: url("../img/about/danger.png") right bottom no-repeat;
}
@media (max-width: 640px) {
	.about-us__item_danger:before {
		background-size: 40%;
	}
}
.about-us__item_danger:after {
	background: url("../img/about/danger-border.png") no-repeat;
	top: 32px;
}

.why__title {
	padding-top: 100px;
	font-size: 32px;
	line-height: 32px;
	text-align: center;
	color: #1F1F1F;
	margin-bottom: 80px;
}
.why__title span {
	font-weight: 700;
}
@media (max-width: 991.98px) {
	.why__title {
		margin-bottom: 30px;
	}
}
@media (max-width: 390px) {
	.why__title {
		font-size: 26px;
		line-height: 28px;
		margin-bottom: 20px;
	}
}

.why__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.why__column {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 33.333%;
	        flex: 0 1 33.333%;
}
@media (max-width: 991.98px) {
	.why__column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
	}
}

.why__item {
	background: #FFFFFF;
	padding: 40px;
}
@media (max-width: 1132px) {
	.why__item {
		padding: 32px;
	}
}

.why__item__gray {
	background: #F8F8F8 !important;
}

.why__img {
	text-align: center;
	margin-bottom: 25px;
}
.why__img img {
	max-width: 100%;
}

.why__subtitle {
	font-size: 18px;
	line-height: 18px;
	text-align: center;
	color: #1F1F1F;
	margin-bottom: 20px;
}

.why__text {
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	color: #1F1F1F;
}

.learn {
	background: url("../img/learn/back.png") no-repeat center;
	background-size: cover;
	padding-bottom: 90px;
}

.learn__title {
	padding-top: 89px;
	font-size: 32px;
	line-height: 32px;
	text-align: center;
	margin-bottom: 50px;
	color: #1F1F1F;
}

.learn__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: rgba(255, 255, 255, 0.85);
	border-radius: 20px;
	padding: 45px;
	min-height: 240px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-shadow: 0px 0px 5px 3px #F5F5F5;
	        box-shadow: 0px 0px 5px 3px #F5F5F5;
}
@media (max-width: 991.98px) {
	.learn__row {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
}

.learn__column {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 33.333%;
	        flex: 0 1 33.333%;
}
@media (max-width: 991.98px) {
	.learn__column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
		padding-bottom: 80px;
	}
}

.learn__item {
	text-align: center;
	position: relative;
}
.learn__item:after {
	content: "";
	position: absolute;
	right: 0;
	background: #F4F4F4;
	height: 100%;
	width: 1px;
	top: 0;
}
@media (max-width: 991.98px) {
	.learn__item:after {
		right: 0;
		height: 1px;
		width: 100%;
		top: -35px;
	}
}

@media (max-width: 991.98px) {
	.learn__item_first:after {
		display: none;
	}
}

.learn__item_last:after {
	display: none;
}
@media (max-width: 991.98px) {
	.learn__item_last:after {
		display: block;
	}
}

.learn__img {
	margin-bottom: 27px;
}

.learn__subtitle {
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	margin-bottom: 12px;
	font-weight: 700;
}

.learn__text {
	font-size: 14px;
	line-height: 20px;
	color: #1F1F1F;
}

.learn__note {
	padding-top: 40px;
}

.note-learn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.note-learn__item {
	background: #f1f1f1;
	padding: 30px;
	border-radius: 12px;
	max-width: 735px;
	margin: 0 auto;
}

.note-learn__text {
	font-size: 14px;
	line-height: 20px;
	color: #1F1F1F;
}
@media (max-width: 991.98px) {
	.note-learn__text {
		text-align: center;
	}
}

.educate__title {
	font-size: 32px;
	line-height: 32px;
	text-align: center;
	color: #1F1F1F;
	padding: 80px 0;
}

.educate__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding-bottom: 100px;
}

.educate__column {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 25%;
	        flex: 0 1 25%;
}
@media (max-width: 991.98px) {
	.educate__column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 50%;
		        flex: 0 1 50%;
	}
}

.educate__item {
	background: #fff;
	padding: 35px 22px 22px 22px;
	min-height: 190px;
}
@media (max-width: 500px) {
	.educate__item {
		padding: 25px 12px 0px 14px;
	}
}

.educate__subtitle {
	color: #A5A5A5;
	font-weight: 700;
	font-size: 12px;
	line-height: 17px;
	margin-bottom: 16px;
}
.educate__subtitle span {
	font-weight: 800;
	font-size: 32px;
	line-height: 45px;
	margin-right: 5px;
}

.educate__text {
	font-size: 14px;
	line-height: 20px;
	color: #1F1F1F;
}
.educate__text span {
	font-weight: 700;
}
@media (max-width: 500px) {
	.educate__text {
		font-size: 12px;
		line-height: 16px;
	}
}

.educate__column_big {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 50%;
	        flex: 0 1 50%;
}
@media (max-width: 991.98px) {
	.educate__column_big {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
	}
}

@media (max-width: 991.98px) {
	.why__item__gray_d {
		background: #fff !important;
	}
}

@media (max-width: 991.98px) {
	.why__item__gray_m {
		background: #F8F8F8 !important;
	}
}

.blue-item {
	background: #508FF7;
	position: relative;
}
.blue-item:after {
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	background: url("../img/educate/i1.png") right bottom no-repeat;
	width: 100%;
	height: 100%;
}
@media (max-width: 479.98px) {
	.blue-item:after {
		background-size: 60%;
	}
}

.blue-item__subtitle {
	font-weight: 800;
	font-size: 32px;
	line-height: 45px;
	color: #FFFFFF;
	margin-bottom: 16px;
}

.blue-item__text {
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
}

.license {
	background: url("../img/license/back.png") no-repeat center;
	background-size: cover;
}

.license__title {
	font-size: 32px;
	line-height: 32px;
	text-align: center;
	color: #1F1F1F;
	padding-top: 80px;
	margin-bottom: 60px;
}
@media (max-width: 480px) {
	.license__title {
		font-size: 20px;
		line-height: 22px;
		padding-top: 50px;
		margin-bottom: 40px;
	}
}

.license__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 -15px;
	padding-bottom: 80px;
}
@media (max-width: 991.98px) {
	.license__row {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
}
@media (max-width: 480px) {
	.license__row {
		padding-bottom: 40px;
	}
}

.license__column {
	padding: 0 15px;
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 16.666%;
	        flex: 0 1 16.666%;
}
.license__column a {
	color: #fff;
}
@media (max-width: 991.98px) {
	.license__column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 33.333%;
		        flex: 0 1 33.333%;
		margin-bottom: 20px;
	}
}

.license__box {
	position: relative;
	cursor: pointer;
}
.license__box:after {
	content: "";
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	background: rgba(80, 143, 247, 0.7);
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	z-index: 0;
	opacity: 0;
	left: 0;
	top: 0;
	border: 3px solid #508FF7;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border-radius: 5px;
}
.license__box:hover .license__image-content {
	display: block;
	z-index: 1;
}
@media (max-width: 1240px) {
	.license__box:after {
		opacity: 1;
	}
}

.license__box:hover:after {
	opacity: 0.9;
	z-index: 0;
}

.license__image-content {
	position: absolute;
	left: 0px;
	right: 0;
	bottom: 20px;
	height: 100%;
	display: none;
	-webkit-transform: translateY(50%);
	    -ms-transform: translateY(50%);
	        transform: translateY(50%);
}
@media (max-width: 1240px) {
	.license__image-content {
		z-index: 1;
		display: block;
	}
}

.license__image img {
	width: 100%;
}

.license__icon {
	text-align: center;
	margin-bottom: 10px;
}

.license__info {
	text-align: center;
}

.answer-container {
	max-width: 850px;
}

.answer__title {
	font-size: 32px;
	line-height: 32px;
	margin-bottom: 60px;
	text-align: center;
	color: #1F1F1F;
}
.answer__title span {
	font-weight: 700;
}
@media (max-width: 520px) {
	.answer__title {
		font-size: 20px;
		line-height: 120%;
	}
}

.answer__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding-bottom: 75px;
}

.answer__column {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 100%;
	        flex: 1 1 100%;
}

.answer__item {
	padding: 45px;
	background: #FFFFFF;
	border-radius: 20px;
	-webkit-box-shadow: 0px 0px 5px 3px #F5F5F5;
	        box-shadow: 0px 0px 5px 3px #F5F5F5;
	margin-bottom: 20px;
}
@media (max-width: 500px) {
	.answer__item {
		padding: 25px;
	}
}

.answer__subtitle {
	font-weight: 700;
	font-size: 18px;
	line-height: 23px;
	color: #3F3F3F;
	margin-bottom: 20px;
}
@media (max-width: 500px) {
	.answer__subtitle {
		font-size: 16px;
		line-height: 21px;
	}
}

.answer__text {
	font-size: 16px;
	line-height: 24px;
	color: #979797;
}
@media (max-width: 500px) {
	.answer__text {
		font-size: 14px;
		line-height: 21px;
	}
}

.answer__item ol li {
	margin-left: 20px;
}

.record {
	background: url("../img/record/back.png") no-repeat center;
	background-size: cover;
}

.record__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 100px;
}

.record__column {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 50%;
	        flex: 0 1 50%;
	position: relative;
}
.record__column:after {
	content: "";
	position: absolute;
	right: -100%;
	width: 110%;
	height: 800px;
	z-index: 31;
	bottom: 0;
	background: url("../img/record/man.png") no-repeat;
}
@media (max-width: 991.98px) {
	.record__column:after {
		position: relative;
		display: block;
		right: -360px;
		margin-top: -270px;
	}
}
@media (max-width: 750px) {
	.record__column:after {
		right: -190px;
		margin-top: -180px;
	}
}
@media (max-width: 570px) {
	.record__column:after {
		right: -40px;
	}
}
@media (max-width: 400px) {
	.record__column:after {
		right: 0px;
	}
}
@media (max-width: 991.98px) {
	.record__column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
	}
}

.record__item {
	background: #fff;
	padding: 65px;
	border-radius: 30px;
	-webkit-box-shadow: 0px 0px 5px 3px #F5F5F5;
	        box-shadow: 0px 0px 5px 3px #F5F5F5;
	position: relative;
	z-index: 25;
}
.record__item:after {
	content: "";
	background: url("../img/record/border.png") no-repeat;
	position: absolute;
	top: 20px;
	left: 18px;
	width: 520px;
	height: 520px;
	z-index: 0;
}
@media (max-width: 1132px) {
	.record__item:after {
		display: none;
	}
}
@media (max-width: 480px) {
	.record__item {
		padding: 35px;
	}
}

.record__body {
	position: relative;
	z-index: 99;
}

.form-record__title {
	font-size: 24px;
	line-height: 31px;
	color: #3F3F3F;
	font-weight: 700;
	margin-bottom: 40px;
}

.form-record__column label {
	font-size: 15px;
	line-height: 15px;
	color: #3F3F3F;
	margin-bottom: 12px;
	display: block;
}
.form-record__column input {
	margin-bottom: 20px;
}

.form-record__btn {
	width: 100%;
	margin-bottom: 20px;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: #FFFFFF;
	border-radius: 10px;
	height: 60px;
}
@media (min-width: 1132px) {
	.form-record__btn:hover {
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		background: rgba(255, 72, 63, 0.7);
	}
}

.form-record__polit {
	font-size: 13px;
	line-height: 17px;
	text-align: center;
	color: rgba(52, 52, 52, 0.8);
}
.form-record__polit a {
	color: #296FD7;
	text-decoration: underline;
}
@media (min-width: 1132px) {
	.form-record__polit a:hover {
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		text-decoration: none;
	}
}

.contact-info__title {
	font-size: 32px;
	line-height: 32px;
	text-align: center;
	color: #1F1F1F;
	padding: 80px 0;
}
@media (max-width: 991.98px) {
	.contact-info__title {
		padding: 40px 0;
		font-size: 20px;
		line-height: 20px;
	}
}

.contact-info__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 -5px;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding-bottom: 40px;
}

.contact-info__column {
	padding: 0 5px;
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 33.333%;
	        flex: 0 1 33.333%;
	margin-bottom: 10px;
}
@media (max-width: 991.98px) {
	.contact-info__column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
	}
}

.contact-info__item {
	background-color: #fff;
	padding: 23px;
	-webkit-box-shadow: 0px 0px 5px 3px #F5F5F5;
	        box-shadow: 0px 0px 5px 3px #F5F5F5;
	border-radius: 16px;
	max-width: 359px;
	min-height: 120px;
}
@media (max-width: 991.98px) {
	.contact-info__item {
		margin: 0 auto;
	}
}

.contact-info__subtitle {
	font-size: 10px;
	line-height: 10px;
	text-transform: uppercase;
	color: #A2A9B5;
	margin-bottom: 12px;
}

.contact-info__text {
	font-size: 16px;
	line-height: 22px;
	color: #000000;
}
.contact-info__text a {
	color: #000000;
	font-size: 20px;
	line-height: 28px;
}
@media (min-width: 1132px) {
	.contact-info__text a:hover {
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		text-decoration: underline;
	}
}

.place__map {
	height: 390px;
}